body {
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=626262&density=21&opacity=17);
}
h1 {
  font-family: "Alfa Slab One", cursive;
  color: #b31b00;
  text-shadow: 1px 1px 2px #ffff3d;
  font-weight: lighter;
}
main {
  position: relative;
  min-height: 55vh;
}
#all {
  padding-bottom: 2.5rem;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 0vmin;
  text-align: right;
  font-size: x-large;
}
#footer {
  color: deepskyblue;
}

header {
  font-size: 1.7em;
  text-align: center;
  letter-spacing: 0.1em;
}
.teko {
  font-family: Teko, sans-serif;
  font-size: 1em;
  color: #f2f4f7;
  letter-spacing: 0.1em;
}

#options {
  color: #9b2915;
  background: #f2f4f7;
  border: none;
  border-radius: 5px;
  font-size: 0.875rem;
  height: 4vh;
  padding: 5px;
  width: fit-content;
  margin-left: 12px;
}

select:focus,
textarea:focus,
input:focus,
button:focus {
  outline: none;
}

button#cifrar,
button#descifrar {
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 0px #130401a8;
  transition: 1s;
}

button#descifrar {
  background: linear-gradient(135deg, #44913b 0%, #31662b 100%);
  padding-left: 6px;
  padding-right: 6px;
  transition: 0.3s;
}

button#descifrar:active {
  background: linear-gradient(135deg, #44913b 0%, #31662b 100%);
  transition: 0.3s;
}

button#descifrar:hover {
  background: linear-gradient(135deg, #44913b 0%, #31662b 100%);
  transition: 0.3s;
}

button#cifrar {
  background: linear-gradient(135deg, #1c0602 0%, #cc3014 0%, #870200 100%);
  transition: 0.3s;
}

button#cifrar:hover {
  background: linear-gradient(135deg, #1d0602 0%, #df3416 0%, #8f0200 100%);
  transition: 0.3s;
}

button#cifrar:active {
  background: linear-gradient(135deg, #130401 0%, #95230f 0%, #610200 100%);
  transition: 0.3s;
}

button#resetCifrar,
button#resetDescifrar,
button#copiarCifrado,
button#copiarDescifrado {
  margin-top: 5px;
  box-shadow: 0px 1px 4px 0px #130401a8;
  border-radius: 10px;
  width: -webkit-fill-available;
}

button#resetCifrar, button#resetDescifrar {
  background: #338A74;
}

button#copiarCifrado, button#copiarDescifrado {
  background: #d46d28;}

.btn {
  cursor: pointer;
  font-family: "Roboto";
  color: #f2f4f7;
  font-size: 1em;
  width: 80px;
  border: 0;
  padding: 10px 0;
}

.roboto {
  text-align: center;
  font-family: "Roboto", serif;
  color: #f0f8ff;
}
span {
  font: size 0.9em;
}
#loginContainer {
  width: 100%;
}
#login {
  width: 50%;
  margin: 0 auto;
  background: #111f4d;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
}

#checkLogin {
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: #9b2915;
  transition: 0.3s;
}

#checkLogin:hover {
  background-color: rgb(177, 64, 44);
}

#checkLogin:active {
  background-color: rgb(139, 40, 23);
}

#login input {
  font-family: "Roboto";
  display: block;
  border-radius: 5px;
  font-size: 1em;
  background-color: white;
  width: 50%;
  border: 0;
  padding: 10px 10px;
  margin: 0 auto;
}

#slideCifrar,
#slideDescifrar {
  padding: 2em 1em;
}
.modal {
  width: 88vmin;
  height: 25vmin;
  background: #F2F4F7;
  color: #323031;
  font-size: xx-large;
  position: absolute;
  border-radius: 10px;
  z-index: 5;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 4%;
}

#error i {
  font-size: 1.6em;
}
#error p {
  margin-bottom: 20px;
}

.overlay {
  background: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
}
.btnAction {
  padding: 7em 2em;
}
.slidecontainer {
  width: 100%;
  margin: 0 auto;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 5px;
  background: #819FAC;
  outline: 0;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 1em/5em;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #FFC730;
  cursor: pointer;
  border-radius: 1em/5em;
}
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #FFC730;
  cursor: pointer;
  border-radius: 1em/5em;
}
#numCifrar,
#numDescifrar {
  width: 2rem;
  color: #24346b;
  background: #f2f4f7;
  border: none;
  border-radius: 5px;
  font-size: 0.875rem;
  padding: 5px;
  margin-left: 12px;
}
#cifrando,
#descifrando {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  padding-bottom: 50px;
  background-color: #3a4750b5;
}
.error {
  border: 1px;
  background-color: #f5f5f5;
  animation-name: ex;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
@keyframes ex {
  0% {
    background-color: #f5f5f5;
  }
  50% {
    background-color: red;
  }
  100% {
    background-color: #f5f5f5;
  }
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.texto {
  width: 39vmin;
  height: 30vmin;
  resize: none;
  border-radius: 5px;
  font-family: "roboto", sans-serif;
}
.flex {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}
